<!DOCTYPE html>
<html> <!--manifest="Устарел" lang="ru" id="demo-1" class="demo" dir="auto" tabindex="1" contenteditable="false" spellcheck="false" style="z-index: 1;" draggable="false" dropzone="false"-->
    <head> <!--itemid="12345" itemprop="http://schema.org/Review" itemref="12346" itemscope itemtype="ewfw"--> <!--Microdata-->
        <!--
        onabort onfocus onmousemove onseeked
        onblur oninput onmouseout onseeking
        oncancel oninvalid onmouseover onselect
        oncanplay onkeydown onmouseup onshow
        oncanplaythrough onkeypress onmousewheel onstalled
        onchange onkeyup onpause onsubmit
        onclick onload onplay onsuspend
        oncuechange onloadeddata onplaying ontimeupdate
        ondblclick onloadedmetadata onprogress ontoggle
        ondurationchange onloadstart onratechange onvolumechange
        onemptied onmousedown onreset onwaiting
        onended onmouseenter onresize
        onerror onmouseleave onscroll
-->
        <title>Страница демонстрации</title>
        <style>
        aside {
            position: fixed;
            top: 400px;      
            right: 0;       
            width: 200px;  
            height: 400px; 
            overflow-y: auto;
            background-color: #f0f0f0;
            padding: 10px;
            box-sizing: border-box;
        }
        </style>
        <meta name="author" data-author="Me">
        <base target="_blank">
        <link rel="stylesheet" href="__" hreflang="2" media="" sizes="10x10" type="audio">
        <script>
            //  JS
        </script>
        <noscript>
            <!-- no JS -->
        </noscript>
    </head>
    <body> <!--alink, background, bgcolor, link, margin*, text, vlink - устаревшие -->
        <aside>
            <nav>
                <h2>Навигация</h2>
                <ul type="disc">
                    <li type="disc" value="3"><a href="#downloads">Скачать песню</a></li>
                    <li><a href="#code">Пример кода</a></li>
                    <li><a href="#abbreviations">Сокращения</a></li>
                    <li><a href="#definitions">Пример определения</a></li>
                    <li><a href="#quotes">Цитата</a></li>
                    <li><a href="#fixed-line">Фиксированный перенос</a></li>
                    <li><a href="#fluid-line">Потенциальный перенос</a></li>
                    <li><a href="#svg-circle">Круг (SVG)</a></li>
                    <li><a href="#svg-triangle">Треугольник (SVG)</a></li>
                    <li><a href="#hr-line">Линия</a></li>
                    <li><a href="#sales-report">Отчет по продажам</a></li>
                    <li><a href="#ol-list">Нумерованный список</a></li>
                    <li><a href="#audio">Аудио</a></li>
                    <li><a href="#iframe">Iframe</a></li>
                    <li><a href="#end">Конец страницы</a></li>
                    <li><a href="#form">Форма</a></li>
                </ul>
            </nav>
        </aside>

        <kbd hidden>
            Вывод пользователя
        </kbd>
        <font size="5" color="red" face="Arial">П</font>


        <div id="downloads">
            <a href="/auto_car/static/audio/Ohne dich.mp3" download="music" target="_blank" rel="nofollow">
                <!--  -->
                скачать песню<br>
            </a>
            <a href="#end">Перейти в конец<br></a>
        </div>

        <div id="code">
            <code>
            def get_user(email):<br>
                return user_db.get_user_by_email(email)
            </code>
        </div>

        <div id="abbreviations">
            <h2>Cокращения</h2>
            <p align="right">
                <abbr title="HyperText Markup Language">HTML</abbr> - стандартный язык разметки для веб-страниц.
            </p>
            <pre>
                formated
            </pre>
        </div>

        <div id="definitions">
            <h2>Пример определения</h2>
            <dl>
                <dt>HTML</dt>
                <dd>HyperText Markup Language - язык разметки для создания веб-страниц</dd>
            </dl>
            <dfn title="HTML">HTML</dfn> - 
            <mark>HyperText Markup Language - язык разметки для создания веб-страниц</mark>
        </div>

        <div id="quotes">
            <h2>Пример цитаты</h2>
            <q cite="https://google.com">
                Программирование — это искусство создавать решения для проблем, 
                о которых люди даже не подозревали, способами, которые никто не понимает.
            </q>
        </div>

        <div id="fixed-line">
            <details open>
                <summary>Фиксированный перенос строк</summary>
                <p>
                В тишине вечерней падают звёзды,<br>
                И память гладит давно ушедший путь.<br>
                Пусть мрак укроет случайные годы —<br>
                Но свет в сердцах нам поможет вернуть.
                </p>
            </details>
        </div>

        <div id="fluid-line">
            <h2>Потенциальный перенос строк</h2>
            <p>
            В тишине вечерней падают звёзды, и<wbr> память гладит давно ушедший путь.<wbr
            Пусть мрак укроет случайные годы, но<wbr> свет в сердцах нам поможет вернуть.<wbr>
            </p>
        </div>

        <div id="svg-circle">
            <h2>Круг (SVG)</h2>
            <svg width="100" height="100">
                <circle cx="50" cy="50" r="40" fill="#45b7d1"/>
            </svg>
        </div>

        <figure>
            <p><img src="/auto_car/static/images/add2.png" alt="" width="50"></p>
            <figcaption>logo</figcaption>
        </figure>

        <div id="svg-triangle">
            <h2>Треугольник (SVG)</h2>
            <svg width="100" height="100">
                <polygon points="50,10 90,90 10,90" fill="#f9ca24"/>
            </svg>
        </div>

        <div id="hr-line">
            <h2>Линия (hr)</h2>
            <hr width="200" size="5" color="#6c5ce7" align="left" noshade>
        </div>

        <div id="sales-report">
            <h1>Отчет по продажам за 2024 год</h1>
            <table border="1" cellpadding="8" cellspacing="0" width="100%" align="center" bgcolor="yellow" cellpadding="5" frame="vsides" rules="rows" summary="test table"> 
                <caption>Пример таблицы</caption>
                <thead>
                    <tr align="center" bgcolor="white" bordercolor="red" valign="right">
                        <th id="department" rowspan="2">Отдел</th>
                        <th id="employee" rowspan="2">Сотрудник</th>
                        <th id="q1" colspan="3">1</th>
                        <th id="q2" colspan="3">2</th>
                        <th id="total" rowspan="2">Итого</th>
                    </tr>
                    <tr>
                        <th align="center" bgcolor="red" bordercolor="red" valign="left" abbr="e" background="white" colspan="1" height="40" nowrap rowspan="1" width="10" id="q1_1" headers="q1">1</th>
                        <th id="q1_2" headers="q1">2</th>
                        <th id="q1_3" headers="q1">3</th>
                        <th id="q2_4" headers="q2">4</th>
                        <th id="q2_5" headers="q2">5</th>
                        <th id="q2_6" headers="q2">6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="it" headers="department" rowspan="2">IT</td>
                        <td id="ivanov" headers="it employee">Иванов</td>
                        <td headers="it ivanov q1 q1_1">120</td>
                        <td headers="it ivanov q1 q1_2">135</td>
                        <td headers="it ivanov q1 q1_3">150</td>
                        <td headers="it ivanov q2 q2_4">145</td>
                        <td headers="it ivanov q2 q2_5">160</td>
                        <td headers="it ivanov q2 q2_6">175</td>
                        <td headers="it ivanov total">2250</td>
                    </tr>
                    <tr>
                        <td id="petrov" headers="it employee">Петров</td>
                        <td headers="it petrov q1 q1_1">95</td>
                        <td headers="it petrov q1 q1_2">110</td>
                        <td headers="it petrov q1 q1_3">125</td>
                        <td headers="it petrov q2 q2_4">140</td>
                        <td headers="it petrov q2 q2_5">155</td>
                        <td headers="it petrov q2 q2_6">170</td>
                        <td headers="it petrov total">2130</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2"></th>
                        <td>375</td>
                        <td>435</td>
                        <td>495</td>
                        <td>535</td>
                        <td>595</td>
                        <td>1015</td>
                        <td><strong>8280</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div id="ol-list">
            <h2>Нумерованный список (OL)</h2>
            <ol class="custom-numbers" type="A" reversed start="B">
                <li>Изучить HTML основы</li>
                <li>Освоить CSS стили</li>
                <li>Изучить JavaScript</li>
                <li>Практиковаться на проектах</li>
                <li>Изучить фреймворки</li>
            </ol>
        </div>

        <div id="audio">
            <audio id="audioPlayer" controls>
                <source src="/auto_car/static/audio/Ohne dich.mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div id="iframe">
            <iframe src="company/about.html" sandbox="allow-forms">
            </iframe>
        </div>

        <div id="end">
            <p>end</p>
        </div>

        <div id="form">
            <form action="/submit_feedback" method="post" accept-charset="ru" autocomplete="off" enctype="ssh" application="email" multipart="form-date" name="login form" > <!--novalidate-->
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required placeholder="mfemwf"><br><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"><br><br>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password"><br><br>
                <p>Пол:</p>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Мужской</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Женский</label><br><br>
                <p>Интересы:</p>
                <input type="checkbox" id="html" name="interest" value="html">
                <label for="html">HTML</label><br>
                <input type="checkbox" id="css" name="interest" value="css">
                <label for="css">CSS</label><br>
                <input type="checkbox" id="js" name="interest" value="js">
                <label for="js">JavaScript</label><br><br>
                <label for="message">Сообщение:</label><br>
                <textarea id="message" name="message" rows="4" cols="50" disabled name="textfield" readonly rows autofocus form maxlength="10" placeholder="10" required></textarea><br><br>
                <label for="country">Страна:</label>
                <select id="country" name="country">
                    <option value="ru">Россия</option>
                    <option value="us">США</option>
                    <option value="de">Германия</option>
                    <option value="fr">Франция</option>
                </select><br><br>
                <label for="skills">Навыки (Ctrl+Click для выбора нескольких):</label><br>
                <select  id="skills" name="skills" multiple size="4">
                    <option selected value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="js">JavaScript</option>
                    <option value="python">Python</option>
                </select><br><br>
                <label for="age">Возраст:</label>
                <input   type="range" id="age" name="age" min="10" max="100" value="25"><br><br>
                <input type="submit" value="Отправить">
                <input type="reset" value="Сбросить">
                <button title="demo" type="button" onclick="alert('Нажата кнопка!')">Нажми меня</button>
                <button type="button" onclick="alert('Нажата кнопка!')" disabled>Disabled</button>


                Color:&nbsp;<input type="color" name="color"><br>
                Date:&nbsp;<input type="date" name="date"><br>
                Date and time:&nbsp;<input type="datetime" name="dt"><br>
                Date and time (local):&nbsp;<input type="datetime-local" name="dtl"><br>
                Email:&nbsp;<input type="email" name="email"><br>
                Number:&nbsp;<input type="number" name="number"><br>
                Range:&nbsp;<input type="range" name="range" min="10" max="20"><br>
                Search:&nbsp;<input type="search" name="search"><br>
                Tel:&nbsp;<input type="tel" name="tel"><br>
                Time:&nbsp;<input type="time" name="time"><br>
                URL:&nbsp;<input type="url" name="url"><br>
                Month:&nbsp;<input type="month" name="month"><br>
                Week:&nbsp;<input type="week" name="week"><br>

            </form>
        </div>
        <video autoplay preload controls="true" loop="true" poster="/auto_car/static/images/add1.png" height="300" width="300" muted="false" src="/auto_car/static/videos/PixVerse_V5_Image_Text_720P_машина_заезжает_на.mp4">
            <track kind="subtitles" src="video/jane.en.vtt" srclang="en" label="English">
        </video>
    </body>
</html>
