{% extends "auto_car/base.html" %}

{% block content %}
<main class="container faq">
    <section aria-labelledby="faq-heading" class="faq__section">
        <h3 id="faq-heading" class="faq__title">Вопрос-ответ</h3>
        <div class="faq__list">
            {% for n in glossaries %}
            <article class="faq__item">
                <h3 class="faq__question">{{ n.text }}</h3>
                <p class="faq__answer">{{ n.answer }}</p>
                <time class="faq__date" datetime="{{ n.date|date:'Y-m-d' }}">{{ n.date }}</time>
            </article>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
